@font-face {
    font-family: "mega";
    src: url("../../assets/fonts/RobotoSlab-VariableFont_wght.ttf");
}
.LandingPage{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;    
}
.text1{
    font-family: "mega";
    color: white;
    text-shadow: 5px -5px 2px black;
    font-size: 2.5rem;
    z-index: 50;
}
.text{
font-size: 1.2rem;
color:  rgb(255, 255, 255);
font-family: "mega";
display: flex;
bottom: 0;
position: absolute;
right: 0;
}
 

@media (min-width: 200px){
.text1{
    font-size: 1.7rem;
    margin-top: 17rem;
    margin-bottom: 0.8rem;
    text-align: center;
}
}

@media (min-width: 481px){
    .text1{
        font-size: 2.2rem;
        margin-top: 15.8rem;

    }
}

@media (min-width: 769px) {
    .text1{
        font-size: 2.7rem;
        margin-top: 13.8rem;

    }
    
}
@media (min-width: 1025px) {
    .text1{
        font-size: 3rem;
        margin-top: 14.8rem;

    }
}