@font-face {
    font-family: "mega";
    src: url("../../assets/fonts/RobotoSlab-VariableFont_wght.ttf");
}
.LandingPage{
    background-image: url("../../assets/imgs/ingredientes-espacio-copia-fideos.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;    
}
.text1{
    font-family: "mega";
    position:absolute;
    top: 33%;
    right: 30%;
    color: white;
    text-shadow: 5px -5px 2px black;
    font-size: 2.5rem;
}
.boton{
   position: absolute;
top: 48%;
    height: 7vh;
    width: 14vw;
    font-size: 1.3rem;
    border-radius: 5px;
    background-color: rgb(222, 2, 2);
    border: 3px solid rgb(81, 185, 49);
    box-shadow: 3px -1px 2px rgb(81, 185, 49);
color: white;
text-shadow: 2px -2px 3px black;
font-family:"mega";
cursor: pointer;
}
.text{
font-size: 1.2rem;
color:  rgb(255, 255, 255);
font-family: "mega";
display: flex;
bottom: 0;
position: absolute;
right: 0;
}
