@font-face {
    font-family: "mega";
    src: url("../../assets/fonts/RobotoSlab-VariableFont_wght.ttf");
}
.LandingPage{
    background: linear-gradient(rgba(5,7,12,0.5), rgba(5,7,12,0.5)),
    url("../../assets/imgs/ingredientes-espacio-copia-fideos.jpg");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;    
}
.text1{
    font-family: "mega";
    color: white;
    text-shadow: 5px -5px 2px black;
    font-size: 2.5rem;
}
.boton{
    font-size: 1.3rem;
    border-radius: 5px;
    background-color: rgba(5,7,12,0.25);
    backdrop-filter: blur(4px);
    border: 1px solid white;    
    color: white;
    font-family:"mega";
    cursor: pointer;
    transition: all 200ms;
}
.boton:hover{
    transform: scale(1.1) 

}
.text{
font-size: 1.2rem;
color:  rgb(255, 255, 255);
font-family: "mega";
display: flex;
bottom: 0;
position: absolute;
right: 0;
}
 

@media (min-width: 200px){
.text1{
    font-size: 1.7rem;
    margin-top: 17rem;
    margin-bottom: 0.8rem;
    text-align: center;
}
.boton{
    font-size: 1.25rem;
    padding: 0.3em;
    
}
}

@media (min-width: 481px){
    .text1{
        font-size: 2.2rem;
        margin-top: 15.8rem;

    }
    .boton{
        font-size: 1.5rem;
         padding: 0.6em
         
    }
}

@media (min-width: 769px) {
    .text1{
        font-size: 2.7rem;
        margin-top: 13.8rem;

    }
    .boton{
        font-size: 1.9rem;
         padding: 0.6em
         
    }
}
@media (min-width: 1025px) {
    .text1{
        font-size: 3rem;
        margin-top: 14.8rem;

    }
    .boton{
        font-size: 1.9rem;
         padding: 0.6em
         
    }
}