@font-face {
    font-family: "mega";
    src: url("../../assets/fonts/RobotoSlab-VariableFont_wght.ttf");
}

.container{
    position: absolute;
    right: 0;
z-index: 9999;
    
}
.boton{
    height: 37px;
    width: 120px;
    font-family: "mega";
    border-radius: 5px;
    font-size: 0.9rem;
    z-index: 9999;
    text-decoration: none;
}
.boton:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}

@media (max-width: 1205px){
    .boton{
        height: 32px;
        width: 105px;
        font-family: "mega";
        border-radius: 5px;
        font-size: 0.85rem;
    }
}
@media (max-width: 768px){
    .boton{
        height: 30px;
        width: 90px;
        font-family: "mega";
        border-radius: 5px;
        font-size: 0.7rem;
    }
}
@media (max-width: 480px){
    .container{
        top: 0;
        margin: 0;
        padding: 0;
        display: inline-block;
    }
    .boton{
        display: block;
        height: 30px;
        width: 50px;
        font-family: "mega";
        border-radius: 5px;
        font-size: 0.5rem;
    }

}
@media (max-width: 301px){
    .container{
        top: 0;
        margin: 0;
        padding: 0;
        display: inline-block;
    }
    .boton{
        display: block;
        height: 22px;
        width: 40px;
        font-family: "mega";
        border-radius: 5px;
        font-size: 0.4rem;
        text-decoration: none;
    }
}