@font-face {
    font-family: "mega";
    src: url("../../assets/fonts/RobotoSlab-VariableFont_wght.ttf");
}

.container{
    position: absolute;
    right: 0;

    
}
.boton{
    height: 5vh;
    width: 9vw;
    font-family: "mega";
    border-radius: 5px;
    transition: 400ms;
}
.boton:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}

