@font-face {
    font-family: "mega";
    src: url("../../assets/fonts/RobotoSlab-VariableFont_wght.ttf");
}

.barra{
    position: absolute;
    right: 42%;
    height: 5vh;
    border-radius: 5px;
    width: 15vw;
    transition: 400ms;
}

.boton{
    position: absolute;
    width: 2.7vw;
    height: 5.2vh;
    right: 38.8%;
    border-radius: 200px;
    transition: 400ms;
}

.barra:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}

.boton:hover{
    background-color: black;
    border: 2px solid white;
}