@font-face {
    font-family: "mega";
    src: url("../../assets/fonts/RobotoSlab-VariableFont_wght.ttf");
}

.barra{
    position: absolute;
    right: 40%;
    height: 40px;
    border-radius: 5px;
    width: 300px;
    z-index: 9999;
    border: 1px solid black;
}

.boton{
    position: absolute;
    width: 45px;
    height: 43px;
    right: 36%;
    border: 2px solid black;
    border-radius: 200px;
    z-index: 9999;
    background: white;
}

.barra:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}

.boton:hover{
    background-color: black;
    border: 2px solid white;
}
@media (max-width: 1205px){
    .barra{
        width: 140px;
    }
    .boton{
        width: 34px;
        right: 41%;
    }
}
@media (max-width: 768px){
    .barra{
        width: 110px;
    }
    .boton{
        width: 34px;
        right: 38%;
    }
}
@media (max-width: 480px){
    .barra{
        width: 80px;
        right: 42%;
        height: 20px;
    }
    .boton{
        width: 25px;
        right: 36%;
        height: 22px;
        font-size: 0.6rem;
    }
}
@media (max-width: 301px){
    .barra{
        width: 46px;
        right: 42%;
        height: 15px;
    }
    .boton{
        width: 20px;
        right: 34%;
        height: 17px;
        font-size: 0.4rem;
    }
}