.container{
    font-size: 1.5rem;
    display: grid;
    grid-template-rows: 2vw 2vw 2vw 2vw 2vw 2vw 2vw 2vw 2vw 2vw 2vw 2vw 2vw;
    list-style-type: none;
    position: absolute;
top: 29vh;
left: -35;
padding: 0;
gap: 1vh;
}
.paginado{
    width: 1.2vw;
}

.boton{
    position: absolute;

 background-color:  white;
 cursor: pointer;
 border-radius: 5px;
 width: 2vw;
 color: black;
 text-align: center;
 box-shadow: 0px 20px 30px black;
 transition: 400ms;
}

.boton:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}
