@font-face {
    font-family: "mega";
    src: url("../../assets/fonts/RobotoSlab-VariableFont_wght.ttf");
}

.container{
    background-image: url("../../assets/imgs/wp3983027.jpg");
    background-size: cover;
    overflow: hidden;
    min-height: 102vh;
    
}
.Link{
    text-decoration: none;
}
.filtrado{
    font-family: "mega";
    color: white;
    position: absolute;
    margin-top: 13vh;
    margin-left: 1vw;
    font-size: 1.5rem;
}
.selector{
    position: absolute;
    height: 3vh;
    margin-top: 14vh;
    margin-left: 5.8vw;
    border-radius: 5px;
}
.text{
    position: absolute;
    color: white;
    font-size: 2.7rem;
    right: 41vw;
top: 0;
margin: 8vh 0 0 0; 
text-shadow: 5px -5px 2px black   
}
.selector1{
    position: absolute;
    margin-left: 29vw;
    margin-top: 14vh;
    height: 3vh;
    border-radius: 5px;
}   
.selector2{
    position: absolute;
    margin-left: 21vw;
    margin-top: 14vh;
    height: 3vh;
    border-radius: 5px;
}
.selector3{
    position: absolute;
    margin-left: 11vw;
    margin-top: 14vh;
    height: 3vh;
    border-radius: 5px;
}
.refresh{
    position: absolute;
    width: 2.7vw;
    height: 5.2vh;
    margin-left: 39vw;
    border-radius: 200px;
    transition: 400ms;
}

.refresh:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}
.selector:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}
.selector1:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}
.selector2:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}
.selector3:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}