@font-face {
    font-family: "mega";
    src: url("../../assets/fonts/RobotoSlab-VariableFont_wght.ttf");
}

.container{
    background-image: url("../../assets/imgs/wp3983027.jpg");
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.filtros{
    margin-top: 60px;
    position: absolute;
    left: 0;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
color: white;
gap: 0.5rem;
align-items: end;
}
.filtros > * {
    font-size: 0.96rem;
    margin-bottom: 4px;
    border-radius: 8px;
    direction: rtl;
    flex-grow: 0;
    flex-basis: auto;
    width: 40px;
    z-index: 9999;
}
.botonepico{
    position: absolute;
    top: 0;
    font-size: 3rem;
    background: transparent;
    color: white;
  border: none;
    border-radius: 14px;
    transition: all 200ms;
}
.botonepico:hover{
transform: scale(1.3);
}
.text{
    font-family: "mega";
    font-size: 2.2rem;
    position: absolute;
      color: white;
     text-align: center;
     width: 100%;
      top: 5%;
      text-shadow: 5px -5px 2px black;
}

/* .refresh{
 width: 30px;
 left: 50%;
 position: absolute;
} */
.paginado{
position: fixed;
}

.refresh:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}
.selector:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}
.selector1:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}
.selector2:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}
.selector3:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}

@media (max-width: 1205px){
.text{
    font-size: 1.9rem;
}
.botonepico{
    font-size: 2rem;
}
}
@media (max-width: 769px){
    .text{
        font-size: 1.8rem;
    }
    .botonepico{
        font-size: 1.8rem;
    }
}
@media (max-width: 481px){
.text{
    font-size: 1.5rem;
}
.botonepico{
    font-size: 1.6rem;
}
}
@media (max-width: 301px){
.text{
    font-size: 1.2rem;
}
.botonepico{
    font-size: 1.4rem;
}
}

